HELP.md
java/target/
!java/.mvn/wrapper/maven-wrapper.jar
!**java/src/main/**
!**java/src/test/**

upload_backup/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### JetBrain IDEA ###
*/.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
